{% extends 'registration/base.html' %}
{% load static %}

{% block titleblock %}
MsPencil
{% endblock %}

{% block bodyblock %}
<div class="main">
    <div class="header">
        <div class="leftheader">
            <a href="/">Ms.Pencil</a>
        </div>
        <div class="rightheader">
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="sidebar">
        <div class="gradeselector">
            <div class="listy">
                <div class="grade"><label><input type="checkbox" name="prek" />Pre-K</label></div>
                <div class="grade"><label><input type="checkbox" name="1st" />1st grade</label></div>
                <div class="grade"><label><input type="checkbox" name="2nd" />2nd grade</label></div>
                <div class="grade"><label><input type="checkbox" name="3rd" />3rd grade</label></div>
                <div class="grade"><label><input type="checkbox" name="4th" />4th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="5th" />5th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="6th" />6th grade</label></div>
            </div>
            <div class="listy">
                <div class="grade"><label><input type="checkbox" name="7th">7th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="8th">8th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="9th">9th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="9th">10th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="9th">11th grade</label></div>
                <div class="grade"><label><input type="checkbox" name="9th">12th grade</label></div>
            </div>
        </div>

        <div class="themeselector">
            <div class="theme"><label><input type="checkbox" name="halloween">Halloween</label></div>
            <div class="theme"><label><input type="checkbox" name="veterans">Veteran's Day</label></div>
            <div class="theme"><label><input type="checkbox" name="thanksgiving">Thanksgiving</label></div>
            <div class="theme"><label><input type="checkbox" name="hannukah">Hannukah</label></div>
            <div class="theme"><label><input type="checkbox" name="christmas">Christmas</label></div>
            <div class="theme"><label><input type="checkbox" name="newyears">New Years</label></div>
            <div class="theme"><label><input type="checkbox" name="valentines">Valentine's Day</label></div>
        </div>

        <div class="typeselector">
            <div class="type"><label><input type="checkbox" name="schoolsupplies">School Supplies</label></div>
            <div class="type"><label><input type="checkbox" name="decorations">Decorations</label></div>
            <div class="type"><label><input type="checkbox" name="thanksgiving">Activities / Games</label></div>
        </div>
    </div>
    <div class="contents">
        <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
                <div class="product">
            <div class="descriptionbox">
                Product description alsdkjf;la
            </div>
            <img src="{% static "img/exampleimage.png" %}" alt="placeholder" style="width:150px;height:150px;">
        </div>
    </div>
</div>
{% endblock %}