body {
    padding: 0;
    margin: 0;
}

.main {
            font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
        width: 100%;
        height: 80%;
        position: 0;
        position: fixed;
        color: #444;
        line-height: 20px;
        border: 1px solid #d2d2d2;
        background: #fff;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
        background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
        background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
        background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
        background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
        background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
        -webkit-background-size: 100% 20px;
        -moz-background-size: 100% 20px;
        -ms-background-size: 100% 20px;
        -o-background-size: 100% 20px;
        background-size: 100% 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        box-shadow: 0 1px 2px rgba(0,0,0,0.07);
        width: 100vw;
        height: 100%;
}

.main::after {
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        left: 10%;
        bottom: 0;
        border: 1px solid;
        border-color: transparent #efe4e4;
        z-index: -1;
}

.header {
    width: 80%;
    padding-top: 5px;
    padding-left: 10%;
    padding-right: 10%;
    height: 30px;
    background-color: #f4ff4066;
    grid-area: header
}

.header a {
    text-decoration: none;
    color: black;
}

.leftheader {
    display: inline-block;
    font-size: 15px;

}
.rightheader {
    display: inline-block;
    float: right;
    font-size: 13px;
}

.rightheader a {
    text-decoration: underline;
}

.sidebar {
    margin-left: 10%;
    margin-top: 10px;
    width: 15%;
    font-size: 13px;
    display: inline-block;
    margin-right: 2px;
    height: 100%;
    float: left;

}

.gradeselector {
    background-color: #00dbff4d;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.themeselector {
    background-color: #00ff394d;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 5px;
}

.typeselector {
    background-color: #ff7e004d;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-top: 5px;
}

.listy {
    display: inline-block;
}

.grade {
    display: block;
}

.contents {
    display: inline-block;
    width: 65%;
    top: 0;
    height: 100%;
    border-radius: 5px;
    background-color: #d257571a;
    margin-top: 10px;
    padding: 10px;

}

.product {
    display: inline-block;
    padding-right: 2px;
    width: 150px;
}

.product img {
    margin-bottom: 0px;
}

.descriptionbox {
    background-color: white;
    margin-top: 0px;
}